@model Smartflow.BussinessService.Models.FileApply
@using Smartflow.BussinessService.Models
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>业务流程</title>
    <link href="~/Content/main.css" rel="stylesheet" />
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Content/jquery.min.js"></script>
    <script src="~/Content/common.js"></script>
    <script type="text/javascript">
        /*******************
         *保存实体入口
         *******************/
        function saveForm(instanceID,callback) {

            var model = {};
            model.INSTANCEID = instanceID;
            model.FNAME = $("#FNAME").val();
            model.SECRETGRADE = $("#SECRETGRADE").find("option:selected").text();
            model.DESCRIPTION = $("#DESCRIPTION").val();
            model.STRUCTUREID = $("#STRUCTUREID").val();
            util.ajaxPost({
                data: model,
                url: '@Url.Action("save", "FileApply")',
                success: function (result) {
                    callback && callback.call(result);
                }
            })
        }

        function doValidation() {
            return true;
        }

        function getWorkflowId() {
            return $("#STRUCTUREID").val();
        }
    </script>
</head>
<body>
    <div class="layui-container">
        <table class="layui-table">
            <tr>
                <td style="width:100px;text-align:right;">文件名称</td>
                <td>@Html.TextBoxFor(m => m.FNAME, new { @class = "layui-input" })</td>
                <td style="width:100px;text-align:right;">申请密级</td>
                <td>@Html.DropDownListFor(m => m.SECRETGRADE, (ViewData["SECRET"] as IEnumerable<SelectListItem>), new { @class = "layui-select" })</td>
            </tr>
            <tr>
                <td style="width:100px;text-align:right;">审批流程</td>
                <td colspan="3">
                    @Html.DropDownListFor(m => m.STRUCTUREID, (ViewData["WFiles"] as IEnumerable<SelectListItem>), new { @class = "layui-select" })
                </td>
            </tr>
            <tr>
                <td style="width:100px;text-align:right;">备注</td>
                <td colspan="3">
                    @Html.TextAreaFor(m => m.DESCRIPTION, new { @class = "layui-textarea" })
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
